/* Police Roboto pour l'apparence professionnelle */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e1f26;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #2b2d3c;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.header .logo img {
    width: 80px;
}

.header h1 {
    margin: 10px 0 0;
    color: #00aaff;
}

.content {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #2e303d;
    border-radius: 10px;
    margin-right: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a, .sidebar button {
    background-color: #555555;
    color: #ffffff;
    padding: 10px;
    display: block;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.sidebar a:hover, .sidebar button:hover {
    background-color: #333333;
}

.main-content, .form-container {
    flex: 3;
    padding: 20px;
    background: #2b2d3c;
    border-radius: 10px;
}

label, h2 {
    color: #00aaff;
    font-weight: bold;
}

input, select, textarea, button {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    margin-top: 8px;
    background-color: #3a3d4d;
    color: #ffffff;
    border: none;
}

textarea {
    resize: vertical;
}

button {
    background-color: #00aaff;
}

button:hover {
    background-color: #007bbd;
}
